h1{
    color: #68217a;
}
table{
    text-align: center;
}
.Heading{
    background-color: #ffff00;
}
.Sat{
    background-color: #f6b93b;
}
.Teacher{
    background-color: #ffcccc;
}
.Sun{
    background-color: #ff3f34;
}
.Num{
    background-color: #c4e538;
}
.Mon{
    background-color: #0fbcf9;
}
.Tue{
    background-color: #78e08f;
}
.Wed{
    background-color: #d980fa;
}
.Thu{
    background-color: #d1d8e0;
}
.Eight{
    background-color: #ff6b81;
}
.Ten{
    background-color: #2ed573;
}
.Two{
    background-color: #8e4abe;
}
.Three{
    background-color: #2222fd;
}
.Four{
    background-color: #008000;
}

.para{
    background-color: #d2d2d2;
    font-size: 20px;
    color: #68217a;
}
.paragraph{
    text-align: center;
    padding-top: 30px;
}
h3{
    color: red;
}
img{
    margin-bottom: 60px;
}
.footer{
    color: #fff;
    background-color: #45d76a;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}